* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

body > * {
  padding: 0px 100px;
}

h1 {
  margin-bottom: 12px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(175deg, #0891B2 65%, white 35%);
  margin-bottom: 50px;
  padding: 50px 100px;
}

.header-img-container {
  position: relative;
}

.header-img-container > img {
  max-width: 400px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.header-img-container span {
  position: absolute;
  color: white;
  bottom: 10px;
  left: 45%;
}

.about-me {
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: white;
  max-width: 500px;
  padding: 20px;
}

.about-me > h1 {
  margin-bottom: 20px;
}

.about-me > div {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  margin-top: 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.project-card {
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
}

.project-card > div {
  display: flex;
  margin-bottom: 8px;
  padding: 10px;
  gap: 12px;
}

.project-card > p {
  padding: 10px 10px 30px 10px;
}

.project-card > img {
  width: 100%;
}

.project-name {
  flex: 1;
}

svg {
  fill: #505050;
  width: 24px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #0891B2;
  color: white;
  margin-top: 50px;
  padding: 50px 100px;
}

footer img {
  max-width: 400px;
}

footer > div {
  width: 300px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  body > * {
    padding: 0px 20px;
  }

  header {
    background: linear-gradient(160deg, #0891B2 65%, white 35%);
}

  footer {
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 0px 0px;
  }

  footer img {
    margin-top: 20px;
    max-width: 100%;
  }
}