* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

body > * {
  padding: 50px 100px;
}

body > h1 {
  padding: 0px 100px;
}

h1 {
  margin-bottom: 12px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(175deg, #0891B2 65%, white 35%);
  margin-bottom: 50px;
  padding: 50px 100px;
}

.header-img-container {
  position: relative;
}

.header-img-container > img {
  max-width: 400px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.header-img-container span {
  position: absolute;
  color: white;
  bottom: 10px;
  left: 45%;
}

.about-me {
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: white;
  max-width: 500px;
  padding: 20px;
}

.about-me > h1 {
  margin-bottom: 20px;
}

.about-me > div {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  padding-top: 0px;
}

.project-card {
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
}

.project-card > div {
  display: flex;
  margin-bottom: 8px;
  padding: 10px;
  gap: 12px;
}

.project-card > p {
  padding: 10px 10px 30px 10px;
}

.project-card > img {
  width: 100%;
}

.project-name {
  flex: 1;
}

svg {
  fill: #313131;
  width: 24px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #0891B2;
  color: white;
  margin-top: 50px;
}

.footer-img-container {
  width: 400px;
  min-width: 250px;
  height: 300px;
  background-image: url(./pexels-ramon-linares-14087360.jpg);
  background-size: cover;
}

.footer-contact-container {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contact-container > div:not(:last-child) > svg {
  fill: white;
}

.footer-icons {
  display: flex;
  gap: 15px;
}

@media (max-width: 1000px) {
  body > * {
    padding: 50px 35px;
  }

  body > h1 {
    padding: 0px 35px;
  }

  footer {
    gap: 15px;
  }
}

@media (max-width: 500px) {
  body > * {
    padding: 50px 20px;
  }

  header {
    background: linear-gradient(160deg, #0891B2 50%, white 50%);
    flex-direction: column;
    padding-top: 20px;
  }

  .about-me {
    box-shadow: none;
    background-color: transparent;
  }

  .about-me > h1 {
    text-align: center;
  }

  .about-me > div {
    justify-content: center;
  }

  body > h1 {
    padding: 0px 20px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 0px 0px;
  }

  .footer-img-container {
    margin-top: 20px;
    width: 100%;
  }
}